Aastha Gupta
21BCE0166
VIT VELLORE
Computer Science and Engineering

Task 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(42)

num_observations = 4
num_features = 4
random_data = np.random.random((num_observations, num_features))

data_dict = {
    f'Feature_{i+1}': random_data[:, i] for i in range(num_features)
}

df = pd.DataFrame(data_dict)

print(df)

   Feature_1  Feature_2  Feature_3  Feature_4
0   0.374540   0.950714   0.731994   0.598658
1   0.156019   0.155995   0.058084   0.866176
2   0.601115   0.708073   0.020584   0.969910
3   0.832443   0.212339   0.181825   0.183405

Task 2

In [ ]:
data_dict = {
    'Random 1': random_data[:, 0],
    'Random 2': random_data[:, 1],
    'Random 3': random_data[:, 2],
    'Random 4': random_data[:, 3]
}

df = pd.DataFrame(data_dict)

print(df)

   Random 1  Random 2  Random 3  Random 4
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405

Task 3

In [ ]:
df.describe()

       Random 1  Random 2  Random 3  Random 4
count  4.000000  4.000000  4.000000  4.000000
mean   0.491029  0.506780  0.248122  0.654537
std    0.291252  0.386153  0.329856  0.350875
min    0.156019  0.155995  0.020584  0.183405
25%    0.319910  0.198253  0.048709  0.494845
50%    0.487828  0.460206  0.119954  0.732417
75%    0.658947  0.768733  0.319367  0.892110
max    0.832443  0.950714  0.731994  0.969910

Task 4

In [ ]:
df.isnull().sum()

Random 1    0
Random 2    0
Random 3    0
Random 4    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Random 1  4 non-null      float64
 1   Random 2  4 non-null      float64
 2   Random 3  4 non-null      float64
 3   Random 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

Task 5

In [ ]:
selected_columns = df[['Random 2', 'Random 3']]
print(selected_columns)

   Random 2  Random 3
0  0.950714  0.731994
1  0.155995  0.058084
2  0.708073  0.020584
3  0.212339  0.181825